@import "../variables";

.close-btn {
  position: absolute;
  top: -3px;
  right: -3px;
  cursor: pointer;
  text-align: center;
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 20px;
  padding: 5px 11px;
  border-top-right-radius: 12px;
  &:hover {
    background-color: $main-color;
    color: white;
    transition: 0.3s;
  }
}