@import "../variables";

input[type="radio"] {
  display: none;
}

.filter {
  &-wrapper {
    display: flex;
    justify-content: center;
  }

  &-btn {
    display: inline-block;
    cursor: pointer;
    padding: 12px 15px;
    margin: 0 10px 30px 0;
    background-color: white;
    box-shadow: 0 2px 4px 2px #dcdcdc;
    font-weight: 500;
    font-size: 16px;
    color: gray;

    &:hover {
      color: $main-color;
    }

    &-active {
      background-color: $main-color;
      color: white;
      transform: scaleY(1.1);

      &:hover {
        color: white;
      }
    }
    &-menu {
      display: flex;
      padding: 14px 20px;

      &-icon {
        height: 26px;
        margin-right: 15px;
      }
    }
    &-gallery {
      padding: 9px 17px;
      margin-top: 50px;
    }
  }

}


.restaurant-sort-select {
  border: none;
  font-weight: 600;
  outline: none;
}