.services-price-icon {
  border-radius: 50%;
  text-transform: uppercase;
  box-shadow: 0 3px 6px 3px #dcdcdc;
  position: absolute;
  top: 0;
  right: 0;
}

.free-icon {
  padding: 9.5px 5px;
  color: #007f00;
  font-size: 12px;
  font-weight: 700;
}

.money-icon {
  padding: 5px 13px;
  color: #9e1d0e;
  font-size: 18px;
  font-weight: 600;
}