@import "../variables";

.modal {
  &-title {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
  }
}

dialog {
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 12px;
  box-shadow: 0 0 24px 2px rgba(250, 245, 250, 1);
  padding: 10px;
}

dialog::backdrop { /* native */
  background-color: rgba(0, 0, 0, 0.6);

}

 /* polyfill */

dialog {
  position: absolute;
  width: fit-content;
  height: fit-content;
  margin: auto;
  border: solid;
}

dialog:not([open]) {
  display: none;
}

dialog + .backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

._dialog_overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

dialog.fixed {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
}



#modal-window-search-book {
  min-height: 415px;
  min-width: 836px;
}


