@import "../variables";

.search {
  &-container {
    position: absolute;
    box-sizing: border-box;
    height: 150px;
    width: 70%;
    padding: 30px;
    bottom: -75px;
    left: 15%;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 3px 5px 0 #dcdcdc;
  }
  &-input-date {
    width: 200px;
    height: 30px;
    padding: 8px;
    border-radius: 4px;
    border: 2px solid #dbdbdb;
    font-size: 18px;
    color: #827f7f;
    outline: none;
  }
  &-select {
    width: 80px;
    height: 52px;
    padding: 8px;
    border-radius: 4px;
    border: 2px solid #dbdbdb;
    font-size: 18px;
    color: #827f7f;
    cursor: pointer;
    outline: none;
  }
  &-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    &-item {
      display: flex;
      flex-direction: column;
    }
    &-label {
      font-size: 16px;
      font-weight: 600;
    }
    &-btn {
      background-color: $main-color;
      color: white;
      &:hover {
        background-color: transparent;
        color: $main-color;
      }
    }
    &-error-date {
      visibility: hidden;
      text-align: center;
      color: red;
      font-weight: 500;
    }
  }
}